﻿@page 
@model IndexModel 
@{ 
    ViewData["Title"] = "ปฏิทินการแสดง"; 
} 
<div class="jumbotron"> 
    <center><h2>ปฏิทินการแสดงของวงFever ณ Budokung</h2><center> 
</div> 

<div class="row"> <h3>ปฏิทินรอบการแสดงรอบการแสดง</h3> 
<table class="table"> 
    <thead> 
    <tr> 
        <th>รอบการแสดง</th><th>วันและเวลาที่แสดง</th><th>สถานะการแสดง</th>
        </tr>
     </thead> 
     <tbody>
@foreach (var item in Model.cal) { 
    <tr> 
        <td> 
            @Html.DisplayFor(modelItem => item.CalenderID) 
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.Date) 
            </td> 
        <td> 
            @Html.DisplayFor(modelItem => item.Status) 
            </td> 
    </tr> 
    } 
        </tbody> 
    </table>
 </div>
