@page 
@using Microsoft.AspNetCore.Identity 
@using NewsReport.Models 

@model NewsReport.Pages.NewsAdmin.CreateModel 
@inject SignInManager<NewsUser> SignInManager
@inject UserManager<NewsUser> UserManager 

@{ 
    ViewData["Title"] = "ปฏิทินรอบการแสดง";
     } 
<h2>ปฏิทินการแสดง</h2> 

<h4>กรอกข้อมูลดังนี้</h4> 
<hr /> 
<div class="row"> 
<div class="col-md-4"> <form method="post"> 
<div asp-validation-summary="ModelOnly" class="text-danger">
</div> 
<div class="form-group"> รอบการแสดง
<select asp-for="table.CalenderID" class ="form-control" asp-items="ViewBag.CalenderID"></select> </div> 
<div class="form-group"> วันและเวลาที่แสดง 
<input asp-for="table.Date" class="form-control" /> 
<span asp-validation-for="table.Date" class="text-danger"></span> 
</div>  
<div class="form-group"> สถานะ <select asp-for="table.Status" class="form-control" > 
<option value="on air">on air</option> <option value="soon">soon</option>  </select> 
<span asp-validation-for="table.Status" class="text-danger"></span> 
</div> 
<div class="form-group"> โพสโดย: @UserManager.GetUserName(User); 
<input asp-for="table.CalUserId" type="hidden" value="@UserManager.GetUserId(User)" /> </div> <div class="form-group"> <input type="submit" value="Create" class="btn btn-default" /> </div> </form>
</div> 
</div> 
<div> <a asp-page="Index">Back to List</a> </div> 
@section Scripts { 
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
     }