@page
@model FeverCalender.Pages.CalenderAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>table</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.table.CalenderID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.table.CalenderID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.table.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.table.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.table.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.table.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.table.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.table.UserId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="table.tableID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
