@page
@model FeverCalender.Pages.CalenderAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>table</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.table.CalenderID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.table.CalenderID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.table.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.table.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.table.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.table.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.table.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.table.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.table.tableID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
