@page
@model FeverCalender.Pages.CalenderAdmin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>table</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="table.tableID" />
            <div class="form-group">
                <label asp-for="table.CalenderID" class="control-label"></label>
                <input asp-for="table.CalenderID" class="form-control" />
                <span asp-validation-for="table.CalenderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="table.Date" class="control-label"></label>
                <input asp-for="table.Date" class="form-control" />
                <span asp-validation-for="table.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="table.Status" class="control-label"></label>
                <input asp-for="table.Status" class="form-control" />
                <span asp-validation-for="table.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="table.UserId" class="control-label"></label>
                <input asp-for="table.UserId" class="form-control" />
                <span asp-validation-for="table.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
