@page
@model FeverCalender.Pages.CalenderAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.table[0].CalenderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.table[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.table[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.table[0].UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.table) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CalenderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.tableID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.tableID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.tableID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
